/*  your css code here. If applicable */
.box{
	height:200px;
	width:200px;
	background-color:lightblue;
	border:2px solid black;
	justify-content:center;
	align-items:center;
	display:flex;
	position:relative;
}
.text{
	color:purple
	align-items:center;
	
}